html {
  background: url(./socialmedia.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.Avatar {
  height: 50px;
  width: 50px;
}

.Chart {
  padding: 5px;
  background-color: lightgrey;
  border-radius: 12px;
  margin-left: 25%;
  margin-right: 25%;
}

.Media {
  height: 300px;
  width: 300px;
}

.Event-list {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}

.Event {
  position: relative;
  background-color: grey;
  border-radius: 12px;
  margin: 5px;
  padding: 3px;
}

.user {
  background-color: lightgrey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
